/*Navigation bar*/
#navigationbar{
    background-image: linear-gradient(#3386bc, #105590);

}

.side-headings{
    font-size: 1.5rem;
    font-weight: 600;
    color: #0C134F;
}

/*Dashboard Links*/
.dashboard-icons{
    font-size: 2.5rem;
    color: #ff05a3;
}

.dashboard-links{
    color: #105590;
    font-size: 1.2rem;
}

.blog-card{
    border: 2px solid #fafbfc;
    border-radius: 10px;
}

.blog-post-side-image{
    width: 130px;
}

.card-title{
    font-size: 1.3rem;
}

.card-description{
    font-size: 1em;
    color: #9BA4B5;
}

.social-icons{
    font-size: 2.5rem;
    color: #03ad00;
}

.social-icons2{
    font-size: 2.5rem;
    color: #00d4f0;
}